<!DOCTYPE html>
<html lang="en" ng-app="winLoaderModule">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="./dist/winloader.min.css">
    <title>Win loader</title>


</head>
<script src="./node_modules/angular/angular.min.js"></script>
<script src="./dist/winloader.min.js"></script>
<script src="./src/controller.js"></script>

<body ng-app="winLoaderModule">
    <win-loader></win-loader>
    <button ng-click="start()">Start</button>
    <button ng-click="stop()">Stop</button>
</body>

</html>